* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1d1d1f;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f5f5f7;
}

.main-body {
  padding: 0 rem;
}

.global-header {
  padding: 0 1.375rem;
  height: 2.75rem;
  background-color: #f5f5f7;
  display: flex;
}

.global-header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0;
}

.global-header ul li {
  list-style-type: none;
}

.global-header ul li a {
  padding: 0 0.5rem;
  text-decoration: none;
}

.global-header ul li span {
  cursor: pointer;
  font-size: 0.85rem;
}

.global-header #icon {
  font-size: 1.125rem;
}

.nav-opt {
  display: flex;
  position: relative;
  top: 250px;
}

.nav-opt div {
  margin-left: 1.5rem;
}

.nav-opt div li {
  list-style-type: none;
}

.nav-opt div a {
  text-decoration: none;
}

.offer {
  text-align: center;
  padding: 1rem 0;
  background-color: #fff;
}

.offer p {
  font-size: 0.875rem;
  color: #1d1d1f;
}

.offer sup {
  font-size: 0.5rem;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.25rem;
}

.row-box1 {
  font-weight: 600;
  padding: 5rem 0 4rem;
  margin-left: 0.5rem;
}

.row-box1 p {
  max-width: 38rem;
  font-size: 3rem;
  color: #6a696d;
}

.row-box1 span {
  color: #8405cd;
}

.rb21 {
  display: flex;
  padding-right: 0.6rem;
  padding-bottom: 1rem;
  width: 185px;
}

.rba {
  padding-right: 0.5rem;
}

.rba img {
  height: 2.188rem;
  border-radius: 50%;
}

.rbb {
  font-size: 0.875rem;
}

.rbb a {
  color: #0066cc;
}

.rb2 {
  display: flex;
  flex-direction: column;
  padding-top: 5.625rem;
  padding-bottom: 3.375rem;
  width: fit-content;
  float: inline-end;
}

.row-box2 {
  width: 40%;
}

@media (max-width: 950px) {
  .row-box2 {
    width: fit-content;
    float: left;
  }
}

.card img {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
}

.card {
  min-width: 140px;
  max-width: fit-content;
  padding: 1.125rem 0.5rem 1rem;
  text-align: center;
}

.card span {
  font-size: 0.875rem;
  font-weight: 600;
}

.card a {
  height: 0;
  text-decoration: none;
}

.card-div {
  display: flex;
  overflow: auto;
  padding: 0.6rem 0 1.25rem 4rem;
}

.title {
  font-size: 1.8rem;
  margin: 0 1.4rem;
  padding: 0 0 0.9rem;
  font-weight: 500;
}

.title #sp1 {
  color: #8405cd;
}

.title #sp2 {
  color: #6a696d;
}

.card-container {
  min-width: 420px;
  margin-left: 1.25rem;
  border-radius: 1rem;
  position: relative;
  display: inline-block;
  transition: 0.2s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-container img {
  border-radius: 1rem;
  display: block;
  width: 100%;
}

.shelf-body {
  position: absolute;
  top: 0;
  width: 400px;
}

.shelf-text {
  padding: 30px;
}

.shelf-text h3 {
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 550;
  margin: 0;
  color: #fff0d2;
}

.shelf-text #shelf-p1 {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 525;
  color: #fff0d2;
}

.shelf-text #shelf-p2 {
  padding-top: 0.6rem;
  color: #fff0d2;
}

.shelf-text #sup-p1 {
  font-size: 1rem;
  color: #fff0d2;
}

.shelf-text #sup-p2 {
  font-size: 0.6rem;
  color: #fff0d2;
}

.card-container:hover {
  transform: scale(1.02);
}

.shelf-row {
  display: flex;
  overflow: auto;
  padding: 0.6rem 0 4rem;
}

@media (max-width: 950px) {
  .global-header {
    overflow: hidden;
  }

  .main-body .row {
    width: 100%;
  }

  .main-body .row-box1 p {
    width: 100%;
    font-size: 2rem;
  }

  .main-body {
    .row-box1 {
      padding: 0;
    }

    .rb2 {
      padding: 1rem 0;
    }
  }

  .offer p {
    padding: 0 1rem;
  }

  .main-body .row {
    display: flex;
    flex-wrap: wrap;
  }

  body {
    overflow: none;
  }
}

.accessories {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-width: 19.563rem;
  padding: 1.875rem;
  border-radius: 1rem;
  margin-left: 1.25rem;
  background-color: #fff;

  a {
    text-decoration: none;
  }

  transition: 0.2s;
}

.accessories:hover {
  transform: scale(1.02);
}

.acc-card img {
  width: 100%;
}

.acc-card {
  padding-top: 2.563rem;
}

.acc-body1 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1.188rem 0 0.875rem;

  li img {
    height: 0.75rem;
  }

  li {
    margin-right: 0.313rem;
  }
}

#acc-s1 {
  display: block;
  color: #b64400;
  font-weight: 400;
  font-size: 0.75rem;
}

#acc-s2 {
  font-size: 1rem;
  font-weight: 550;
}

.acc-body2 {
  font-size: 0.875rem;
  margin-top: 3rem;
}

#acc-1 img {
  height: 33rem;
}

.store {
  width: 19.563rem;
  height: 31.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.25rem;
}

.store-box {
  border-radius: 1.5rem;
  width: 19.563rem;
  height: 15rem;
  position: relative;
  transition: 0.2s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.store-box img {
  border-radius: 1.5rem;
  height: 100%;
}

.content {
  position: absolute;
  top: 0;
  padding: 1.875rem 1.875rem 0;

  p {
    color: #fff0d2;
    font-size: 1.5rem;
    font-weight: 550;
  }

  .svg img {
    color: #fff0d2;
    height: 100%;
  }
}

.store2-box {
  margin-left: 1.25rem;
  height: 31.25rem;
  width: 25rem;
  position: relative;
  transition: 0.2s;
}

.store2-box img {
  width: 100%;
  border-radius: 1.5rem;
}

.content2 {
  position: absolute;
  top: 0;
  padding: 1.875rem;

  h3 {
    font-size: 0.75rem;
    color: #fff0d2;
  }

  p {
    color: #fff0d2;
    font-size: 1.75rem;
    font-weight: 525;
  }

  sup {
    color: #fff0d2;
  }
}

.apple-store {
  display: flex;
  padding-bottom: 3.375rem;
  margin: 0 1.25rem;
}

.store-box:hover {
  transform: scale(1.01);
}

.store2-box:hover {
  transform: scale(1.01);
}

.store-foot {
  padding-bottom: 0.875rem;
  margin: 0 1.375rem;

  p {
    color: #8405cd;
    font-size: 1.75rem;
  }

  span {
    color: #6a696d;
    font-size: 1.75rem;
  }
}

.apple-exp-box {
  padding-left: 1.25rem;
  width: 30rem;
  position: relative;
  border-radius: 1.5rem;
  transition: 0.2s;
}

.apple-exp-box:hover {
  transform: scale(1.01);
}

.apple-exp-box img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  height: 31.25rem;
  border-radius: 1.5rem;
}

.exp-content {
  position: absolute;
  top: 0;
  left: 1.25rem;
  width: 25rem;
  padding: 1.875rem;

  h3 {
    font-size: 0.75rem;
    color: #fff0d2;
  }

  p {
    color: #fff0d2;
    font-size: 1.75rem;
    font-weight: 525;
  }

  sup {
    color: #fff0d2;
  }
}

.apple-experience {
  display: flex;
  flex-direction: row;
  padding: 0.6rem 0 2.5rem 0;
}

.quick-links {
  padding-left: 1.25rem;

  h2 {
    font-size: 1.75rem;
    padding-bottom: 1.25rem;
  }

  a {
    font-size: 0.75rem;
    text-decoration: none;
  }

  button {
    padding: 0.5rem 0.838rem;
    border-radius: 1.5rem;
    border: 1px solid #1d1d1f;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.quick-links button:hover {
  background-color: #1d1d1f;

  a {
    color: white;
    text-decoration: underline;
  }
}

.quick-links ul {
  display: inline-flex;
  padding: 0 0 1.688rem;

  li {
    list-style-type: none;
    padding: 0 0.5rem 0.6rem 0;
  }
}

.desc {
  max-width: 61.25rem;
  margin: 0 auto;
  padding-left: 1.25rem;

  p {
    padding-top: 0.625rem;
    font-size: 0.75rem;
    color: #0000008f;
  }

  a {
    font-size: 0.75rem;
    color: #0000008f;
  }
}

.foot-nav p {
  padding-left: 1.25rem;
  line-height: 3.438rem;
  font-size: 0.75rem;
  color: #000000b8;

  i {
    font-size: 1rem;
  }
}

.directory {
  overflow: hidden;
  display: flex;
  padding: 0.6rem 0 4rem 1.25rem;

  div {
    width: 12.25rem;
    height: 22.5rem;
  }
}

.directory div {
  h4 {
    font-size: 0.75rem;
    padding-bottom: 0.75rem;
    color: #000000b8;
  }

  a {
    font-size: 0.75rem;
    text-decoration: none;
  }

  span {
    color: #0000008f;
  }

  li {
    padding: 0 0 0.625rem;
    list-style-type: none;
  }
}

.directory li a:hover {
  text-decoration: underline;
}

.global-footer {
  padding: 2.313rem 0 0.65rem;

  #gfp1 {
    font-size: 0.75rem;
    padding-bottom: 1.125rem;
    color: #0000008f;

    a {
      color: #0066cc;
    }
  }

  p {
    font-size: 0.75rem;
    padding-top: 1.125rem;
    color: #0000008f;
  }
}

.global-footer ul {
  margin: 0.313rem 0 0;

  a {
    font-size: 0.75rem;
    padding: 0 0.5rem;
    color: #0000008f;
    text-decoration: none;
  }

  span {
    color: #0000008f;
  }
}

.global-footer a:hover {
  text-decoration: underline;
}

.aso {
  max-width: 61.25rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

@media (max-width: 640px) {
  .directory div {
    width: 100%;
  }

  .directory {
    padding: 0;
  }

  #dir-ul {
    display: none;
  }

  .directory li {
    border-bottom: 0.5px solid #cececf;
    border-top: 0.4px solid #cececf;

    span {
      color: #1d1d1f;
    }
  }

  .global-footer {
    padding: 0;
    padding-bottom: 1.25rem;
  }

  .row-box2 {
    float: left;
    left: 0;
  }
}
@media (min-width: 1050px) {
  .main-body {
    padding-left: 5%;
  }
}
